<div class="a2reviews-block-wrapper">
    <a2reviews-block block-id="{{ section.settings.block_id }}" name="{{ section.settings.block_name }}"></a2reviews-block>
</div>

{% schema %}
{
  "name": "t:sections.a2reviews-block.name",
  "class": "a2reviews-section",
  "settings": [{
    "type":      "text",
    "id":        "block_id",
    "label": "t:sections.a2reviews-block.settings.s0.label",
    "default":   "0",
    "info": "t:sections.a2reviews-block.settings.s2.info",
    "placeholder": "A2Reviews Block ID"
  }, {
    "type":      "text",
    "id":        "block_name",
    "label": "t:sections.a2reviews-block.settings.block_id.label",
    "default":   "Reviews on homepage",
    "info": "t:sections.a2reviews-block.settings.s3.info",
    "placeholder": "A2Reviews Block Name"
  }],
	"presets": [
    {
      "name": "t:sections.a2reviews-block.name",
      "category": "A2Reviews"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}